<!DOCTYPE html>
<html>
<head>
  <title>City Search Results</title>
</head>
<body>
  <ul>
    <% @students.each do |student| %>
      <li><%= student['name'] %>, <%= student['age'] %></li>
    <% end %>
  </ul>
</body>
</html>