<!DOCTYPE html>
<html>
<head>
  <title>Search Students by City</title>
</head>
<body>
  <p>Select the city of the students you would like to search for.</p>
  <form action="/city_search_result" method="POST">
    <input type="text" name="campus" placeholder="Campus">
    <button type="submit">Submit</button>
  </form>
</body>
</html>